@model TheSongDb.Models.ArtistInfo.ArtistI

@{
    ViewBag.Title = "ArtistInfo";
}

<h1>ArtistInfo</h1>
<img class="img-circle img-responsive" src="@Url.Content(Model.image)">
<h2>Name: @Model.name</h2>
<h2>Url: @Model.url</h2>
<h2>Listeners: @Model.listeners</h2>
<h2>Playcount: @Model.playCount</h2>
<h3>Bio: @Model.bio</h3>
