@model IEnumerable<TheSongDb.Models.Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2><span class="glyphicon glyphicon-book"> Messages <span class="glyphicon glyphicon-book"></span> </span></h2>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Send message", "Index", "Messages/New")</li>
                <li>@Html.ActionLink("Top10", "Top10", "Music")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

@if (!Model.Any())
{
    <p>We don't have any messages yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Message ID</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td>@message.Id</td>
                    <td>@message.content</td>
                </tr>
            }
        </tbody>
    </table>
}

